#main {
  background-color: #bcd5fe;
  padding: 20px 20px 20px 20px; }

.container {
  position: relative;
  float: left;
  top: 0; }

img {
  position: relative;
  top: 300px;
  left: 0; }

.b1 {
  position: absolute;
  top: 60px; }

.nd1 {
  position: absolute;
  top: 20px; }

.b2 {
  position: absolute;
  top: 140px; }

.nd {
  position: absolute;
  top: 260px; }

.rd {
  position: absolute;
  top: 220px; }

.b3 {
  position: absolute;
  top: 340px; }

.b4 {
  position: absolute;
  top: 460px; }

.nd4 {
  position: absolute;
  top: 420px; }

.tree {
  position: absolute;
  top: 110; }

.gem {
  width: 50px;
  height: auto; }

.character {
  position: absolute;
  top: 200px; }

