%html
  %head
    %title test map
    %link{:href => "main.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    #main
      %h2 Dungeon Map
      
      /1st column
      .container
        / 1st row
        %img.b1{:src => "planet/Grass Block.png"}/  
        
        / 2nd row
        %img.b2{:src => "planet/Grass Block.png"}/
        %img.tree{:src => "planet/Tree Short.png"}/
        
        / 3rd row
        %img{:src => "planet/Brown Block.png"}/
        %img.rd{:src => "planet/Grass Block.png"}/
        
        / 4th row
        %img.b3{:src => "planet/Grass Block.png"}/
        
        / 5th row
        %img.b4{:src => "planet/Dirt Block.png"}/
        %img.nd4{:src => "planet/Grass Block.png"}/
        
     
      / 2nd column
      .container
        / 1st row
        %img.b1{:src => "planet/Grass Block.png"}/  
        
        / 2nd row
        %img.b2{:src => "planet/Stone Block.png"}/
        
        / 3rd row
        %img{:src => "planet/Brown Block.png"}/
        %img.rd{:src => "planet/Grass Block.png"}/
        
        / 4th row
        
        %img.b3{:src => "planet/Water Block.png"}/
        
        / 5th row
        %img.b4{:src => "planet/Dirt Block.png"}/
        %img.nd4{:src => "planet/Grass Block.png"}/
        %img.b4.gem{:src => "planet/Gem Orange.png"}/
      
      / 3rd column  
      .container
        / 1st row
        %img.b1{:src => "planet/Stone Block Tall.png"}/  
        
        / 2nd row
        %img.b2{:src => "planet/Stone Block.png"}/
        
        / 3rd row
        %img{:src => "planet/Brown Block.png"}/
        %img.nd{:src => "planet/Stone Block Tall.png"}/
        %img.character{:src => "planet/Character Horn Girl.png"}/
        
        / 4th row
       
        %img.b3{:src => "planet/Water Block.png"}/
        
        / 5th row
        %img.b4{:src => "planet/Dirt Block.png"}/
        %img.nd4{:src => "planet/Dirt Block.png"}/
        
      / 4th column 
      .container
        / 1st row
        %img.nd1{:src => "planet/Ramp East.png"}/  
        
        / 2nd row
        %img.b2{:src => "planet/Stone Block.png"}/
        
        / 3rd row
        %img{:src => "planet/Brown Block.png"}/
        %img.rd{:src => "planet/Ramp South.png"}/
        %img.rd{:src => "planet/Star.png"}/
        
        / 4th row
       
        %img.b3{:src => "planet/Dirt Block.png"}/
        
        / 5th row
        %img.b4{:src => "planet/Dirt Block.png"}/
        %img.nd4{:src => "planet/Dirt Block.png"}/
        
      / 5th column
      .container
        / 1st row
        %img.b1{:src => "planet/Stone Block.png"}/  
        
        / 2nd row
        %img.b2{:src => "planet/Stone Block.png"}/
        %img.b2.gem{:src => "planet/Gem Green.png"}/
        
        / 3rd row
        %img{:src => "planet/Brown Block.png"}/
        %img.nd{:src => "planet/Stone Block Tall.png"}/
        
        / 4th row
        %img.b3{:src => "planet/Water Block.png"}/
        
        / 5th row
        %img.b4{:src => "planet/Dirt Block.png"}/
        %img.nd4{:src => "planet/Water Block.png"}/
        
